{
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "semi": 0,
    "import/prefer-default-export": "on",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true
      }
    ]
  }
}
