.wrapper {
  margin: 20px 10px;
}
.mentorpage{
  width: 100%;
  display: flex;
  flex-direction: column;  
}
.photo{
  flex: 1;
  margin-top: 3cm;
  
}
.mentor-info{
  flex: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #2b4c72;
  font-size: 0.5cm;
}
.mentorphoto{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}