
.mentor-card{
  width: 50%;
  border: solid 1px gray;
  margin: 10px;
  overflow-wrap: break-word;
  flex: 1;
}

.mentor-photo{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
}